
.DS_Store
docs/labs/lab1/.ipynb_checkpoints/scc2425-lab1-checkpoint.ipynb
docs/labs/lab3/.ipynb_checkpoints/scc2425-lab3-checkpoint.ipynb
docs/labs/lab2/.ipynb_checkpoints/scc2425-lab2-checkpoint.ipynb
docs/labs/lab2/.ipynb_checkpoints/scc2425-lab2-checkpoint.ipynb
docs/labs/lab2/.ipynb_checkpoints/scc2425-lab2-checkpoint.ipynb
docs/labs/lab2/.ipynb_checkpoints/scc2425-lab2-checkpoint.ipynb
docs/labs/lab3/.ipynb_checkpoints/scc2425-lab3-checkpoint.ipynb
docs/labs/lab4/.ipynb_checkpoints/scc2425-lab4-checkpoint.ipynb
docs/labs/lab5/.ipynb_checkpoints/scc2425-lab5-checkpoint.ipynb
/scc2425-tukano/target/
/out/
/docs/labs/lab1/scc2425-lab1/
/AzureTools/target/
/AzureTools/azurekeys-northeurope.props
/AzureTools/azureprops-northeurope.sh
/docs/labs/lab2/scc2425-lab2/
/docs/labs/lab3/scc2425-lab3/
/docs/labs/lab4/scc-2425-lab4/
/docs/labs/lab5/scc2425-lab5/
/docs/labs/lab6/scc2425-lab6-code/
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/scc2425-tukano/logs.csv
/scc2425-tukano/tukano.iml
/scc2425-tukano/target/
/out/
/docs/labs/lab1/scc2425-lab1/
/AzureTools/target/
/AzureTools/azurekeys-northeurope.props
/AzureTools/azureprops-northeurope.sh
/docs/labs/lab2/scc2425-lab2/
/docs/labs/lab3/scc2425-lab3/
/docs/labs/lab4/scc-2425-lab4/
/docs/labs/lab5/scc2425-lab5/
/docs/labs/lab6/scc2425-lab6-code/
/AzureFunctions/target/
/AzureFunctions/scc2425-lab5.iml
/AzureFunctions/.idea/.gitignore
/AzureFunctions/.idea/compiler.xml
/AzureFunctions/.idea/encodings.xml
/AzureFunctions/.idea/jarRepositories.xml
/AzureFunctions/.idea/misc.xml
/AzureFunctions/.idea/modules.xml
/AzureFunctions/.idea/vcs.xml
/.idea/uiDesigner.xml
